.aboutus-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(180deg, #ffffff, #f2f3f8);
  color: #270202;
  overflow: hidden;
}

.aboutus-header {
  text-align: left;
  padding-left: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
}

.aboutus-greetings {
  color: rgb(36, 0, 0);
  font-size: 55px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(100, 4, 4, 0.7);
  animation: slideInFromLeft 0.8s ease-out;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutus-content {
    line-height: 1.6;
    color: #3a0000;
    margin-bottom: 1rem;
    margin-left: 3.0rem;
    font-size: 1.3rem;
}

.aboutus-team-section, .aboutus-tech-section {
    margin-top: 2rem;
}

.aboutus-team-section h3, .aboutus-tech-section h3 {
    color: #222;
    margin-bottom: 0.5rem;
}

.aboutus-content ul {
    padding-left: 2rem;
    display: block; 
}

.aboutus-content ul li {
    align-self: left;
    margin-bottom: 0.5rem;
    color: #3a0000;
    font-size: 1.2rem;
    line-height: 1.6;
}
